body
{
font-family: Arial, sans-serif;
background: linear-gradient(135deg,#fdfbfb,#ebedee);
margin: 0;
padding: 0;
text-align: center;
color: black;
}

h2
{
margin-top: 40px;
font-size: 32px;
}

.form-container
{
background: white;
padding: 20px;
border-radius: 10px;
width: 70%;
margin: auto;
margin-top: 30px;
box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

input
{
padding: 10px;
margin: 10px;
border-radius: 5px;
border: 1px solid #ccc;
width: 200px;
font-size: 14px;
}

button
{
padding: 10px 18px;
background: #a8d8ff;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
}

button:hover
{
background: #7cc6ff;
}

h3
{
margin-top: 40px;
font-size: 24px;
}

ul
{
list-style: none;
padding: 0;
}

li
{
background: white;
color: black;
margin: 10px auto;
padding: 12px;
width: 60%;
border-radius: 8px;
box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
